<div class="about-me-wrapper">
    <div class="profile-wrapper">
        <h1>Who I am?</h1>
        <p>I'm a software developer focused on frontend development. I have experience in projects with javascript and, using frameworks as angular and vue. I like to learn and relearn about different technologies and tools. Also, I investigate about what I don't know and what I know, because there always exist something new to learn.</p>
        <button><a href="../../../assets/CV.pdf" target="_blank">Download CV</a></button>
    </div>
    <div class="technologies-wrapper">
        <span data-content="HTML" ><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" alt="html5"/></span>
        <span data-content="CSS" ><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" alt="css3"/></span>
        <span data-content="SASS" ><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sass/sass-original.svg" alt="sass"/></span>
        <span data-content="Javascript" ><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="javascript"/></span>
        <span data-content="Typescript" ><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" alt="typescript"/></span>
        <span data-content="Angular" ><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" alt="angular"/></span>
        <span data-content="Vue" ><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vuejs/vuejs-original.svg" alt="vue"/></span>
        <span data-content="Git" ><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" alt="git"/></span>
        <span data-content="Firebase" ><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/firebase/firebase-plain.svg" alt="firebase"/></span>
        <span data-content="Docker" ><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg" alt="docker"/></span>
    </div>
</div>