<div class="cube-container">
    <div [ngClass]="{'home':this.app.scroll == 0,'projects':this.app.scroll == 1,'about-me':this.app.scroll == 2}" class="cube" id="cube">
        <div>
            <span style="--i:0">
                <app-nav></app-nav>
                <app-home></app-home>
            </span>
            <span style="--i:1">
            </span>
            <span style="--i:2">
                <app-nav></app-nav>
                <app-about-me></app-about-me>
            </span>
            <span style="--i:3">
                <app-nav></app-nav>
                <app-projects></app-projects>
            </span>
        </div>
    </div>
</div>