$default_background: #14151B;

.cube-container{
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    perspective: 50000px;
    .cube{
        position: relative;
        width: 100vw;
        height: 100vh;
        transform-style: preserve-3d;
        & > div{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            & > span{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(300deg, rgba(0,0,0,1) 0%, $default_background 100%);
                transform: rotateX(calc(90deg * var(--i))) translateZ(calc(100vh / 2));
            }
        }
    }
    .home{
        transform: rotateX(0deg);
        transition: 2s;
        animation: home 2s forwards;
    }
    .projects{
        transform: rotateX(90deg) ;
        transition: 2s;
        animation: projects 2s forwards;
    }
    .about-me{
        animation: about-me 2s forwards;
    }
}

@keyframes home {
    to{
        transform: rotateX(0deg);
    }
}

@keyframes projects {
    0%{
        transform: rotateX(0deg);
    }
    100%{
        transform: rotateX(90deg);
    }
}

@keyframes about-me {
    0%{
        transform: rotateX(0deg);
    }
    100%{
        transform: rotateX(180deg);
    }
}