.cube-container{
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background: #13151B;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .cube{
        position: relative;
        width: 100vw;
        height: 100vh;
        transform-style: preserve-3d;
        animation: animate 10s linear infinite;
        & > div{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            & > span{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(300deg, rgba(0,0,0,1) 0%, rgba(19,21,27,1) 100%) repeat 0% 0% / 300% 100%;
                transform: rotateX(calc(90deg * var(--i))) translateZ(calc(100vh / 2));
                animation: background 100s linear infinite;
            }
        }
    }
    .home{
        transform: rotateX(0deg);
        transition: 3s;
    }
    .projects{
        transform: rotateX(90deg);
        transition: 3s;
    }
    .about-me{
        transform: rotateX(180deg);
        transition: 3s;
    }
}

@keyframes background {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}