@import '../../sass/animations';

.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 90%;
  height: 35rem;
  display: flex;
  .scroll-left, .scroll-right {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      font-size: 3rem;
      color: var(--link);
      cursor: pointer;
      &:hover {
        color: var(--link-hover);
      }
    }
  }
  .cards-wrapper {
    position: relative;
    width: 65vw;
    height: 100%;
    overflow: hidden;
    .scroll {
      position: absolute;
      height: 100%;
      min-width: 100%;
      display: flex;
      app-cards {
        display: flex;
        align-items: center;
      }
    }
    .loading {
      position: absolute;
      height: 100%;
      min-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .fa-spinner-third {
        font-size: 4rem;
        color: #fff;
        animation: spinner 1s infinite;
      }
    }

  }
}

