@use '../../shared/sass/mixin.scss';
@use '../../shared/sass/responsive.scss';

.home-section{
  z-index: 0;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  @include mixin.center_flex();
  .text-wrap{
    position: relative;
    width: fit-content;
    height: fit-content;
    & > h1{
      font-size: 7rem;
      font-weight: normal;
      text-transform: uppercase;
      color: transparent;
      -webkit-text-stroke: .08rem #fff;
      width: fit-content;
      text-shadow: 0 1rem 2rem #000;
    }
    & > h2{
      font-weight: normal;
      font-size: 1.2rem;
      text-transform: uppercase;
      color: #ffffff42;
    }
  }
}

@include responsive.home();