.a {
  height: 2.5rem;
  width: 7rem;
  font-size: 0.9rem;
  outline: none;
  border: none;
  color: #fff;
  background: #14151b;
  border-radius: 0.2rem;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
  &:active {
    opacity: 0.8;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  &:nth-child(2) {
    width: fit-content;
    height: fit-content;
    background: transparent;
    font-size: 2rem;
    color: #14151b;
  }
}
