.contact {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  filter: invert(0.75);
  &:hover {
    filter: invert(0.95);
  }
}

@media (max-width: 720px) {
  .contact {
    width: 18px;
    height: 18px;
  }
}
