@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'),
    url(../../public/static/fonts/Roboto-Regular.ttf) format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Light'),
    url(../../public/static/fonts/Roboto-Light.ttf) format('truetype');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Thin'),
    url(../../public/static/fonts/Roboto-Thin.ttf) format('truetype');
  font-weight: 100;
  font-display: swap;
}

:root {
  --link: #a0a0a0;
  --link-hover: #e0e0e0;
  --card-background: #fff;
  --card-dark-side: #b0b0b0;
  font-size: 14px;
  @media (max-width: 720px) {
    font-size: 12px;
  }
}

html,
body {
  background: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif, system-ui, -apple-system;
  font-display: swap;
}
