.div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: linear-gradient(
    140deg,
    #20222b 0%,
    #14151b 33%,
    #08080b 66%,
    #000000 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  h1 {
    position: relative;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 5rem;
    color: #fff;
    margin: 0 1rem 0 0;
    width: fit-content;
    span {
      &::before {
        content: ". . .";
        position: absolute;
        margin: 0 0 0 1rem;
        width: 0%;
        overflow: hidden;
        white-space: nowrap;
        animation: animate 1s linear infinite;
      }
    }
  }
}

@keyframes animate {
  0%,
  100% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .div {
    h1 {
      font-size: 3.5rem;
    }
  }
}
