.nextButtonWrapper {
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
  transition-delay: 1.8s;
  .nextButton {
    position: relative;
    border: none;
    background: transparent;
    filter: invert(0.75);
    width: 32px;
    height: 32px;
    animation: next-button-movement 1s linear infinite;
    cursor: pointer;
    &:hover {
      filter: invert(0.95);
    }
  }
}
.isActive {
  transform-origin: center;
  transform: rotateX(180deg);
  transition: 0.8s;
  transition-delay: 1.8s;
}

@keyframes next-button-movement {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-1rem);
  }
}
