.nextButtonWrapper {
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
  transition-delay: 1.8s;
  .nextButton {
    border: none;
    background: transparent;
    color: var(--link);
    font-size: 2.5rem;
    animation: next-button-movement 1s linear infinite;
    cursor: pointer;
    &:hover {
      color: var(--link-hover);
    }
  }
}
.isActive {
  transform-origin: center;
  transform: rotateX(180deg);
  transition: 0.8s;
  transition-delay: 1.8s;
}

@keyframes next-button-movement {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-1rem);
  }
}

@media (max-width: 720px) {
  .nextButtonWrapper {
    .nextButton {
      font-size: 2rem;
    }
  }
}
