.profileWrapper {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5rem 0rem 5rem 5rem;
  h1 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 300;
  }
  p {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: justify;
  }
  .buttonWrapper {
    filter: invert(100%);
  }
  .contactsWrapper {
    display: flex;
    justify-content: space-between;
    width: 15rem;
  }
}

@media (max-width: 1200px) {
  .profileWrapper {
    width: 100%;
    height: 65%;
    padding: 0 2rem;
    p {
      font-size: 16px;
    }
  }
}
