.slider {
  width: 90vw;
  max-width: 1500px;
  height: 560px;
  display: flex;
  aside {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:nth-child(1) {
      transform: rotate(180deg);
    }
    button {
      position: relative;
      width: 20px;
      height: 20px;
      background: transparent;
      border: none;
      filter: invert(0.95);
      cursor: pointer;
      &:hover {
        filter: invert(0.75);
      }
    }
  }
  main {
    position: relative;
    width: 65vw;
    max-width: 1500px;
    height: 100%;
    overflow: hidden;
    .scrollable {
      position: absolute;
      height: 100%;
      min-width: 100%;
      display: flex;
      align-items: center;
    }
  }
}

@media (max-width: 1024px) {
  .slider {
    aside {
      button {
        font-size: 25px;
      }
    }
  }
}
