<section class="projects-section">
    <div class="card-wrapper">
        <div class="card">
            <div class="card-preview">
                <img src="../../../assets/chat_preview.png" alt="image">
            </div>
            <div class="card-title">
                <h3>Chat</h3>
            </div>
            <div class="card-body">
                <p>This is a web app where you can chat with other people.</p>
            </div>
            <div class="card-actions">
                <a href="https://alesandi22.github.io/Chat/" target="_blank">View</a>
            </div>
        </div>
    </div>
</section>