<div (click)="toggle()" [ngClass]="active ? 'active' : ''"  class="toggle"></div>
<div class="social-media-wrapper">
    <div class="social-media">
        <a href="https://github.com/AleSandi22" target="_blank"><i class="fab fa-github"></i></a>
        <a href="mailto:a.sandi.developer@gmail.com" target="_blank"><i class="far fa-envelope"></i></a>
        <a href="https://www.facebook.com/alesandi22/" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.linkedin.com/in/alejandro-sand%C3%AD-b891ba231/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
</div>
<nav [ngClass]="active ? 'active-nav' : ''" class="nav">
    <ul>
        <li class="li"><a (click)="this.active = false; homeTransition()">Home</a></li>
        <li class="li"><a (click)="this.active = false; projectsTransition()">Projects</a></li>
        <li class="li"><a (click)="this.active = false; aboutMeTransition()">About Me</a></li>
    </ul>
</nav>

<div [ngClass]="{'active-arrow':this.app.scroll == 2}" class="arrow-section"><i (click)="scrolling()" class="fal fa-chevron-double-down"></i></div>