@mixin move_arrows {
    @keyframes move_arrows {
        0%,100%{
            transform: translateY(0px);
        }
        50%{
            transform: translateY(-20px);
        }
    }
}

@mixin show_name {
    @keyframes show_name {
        from{
            transform: translateY(0px);
        }
        to{
            transform: translateY(-5px);
        }
    }
}

@mixin rotate_transition{
    @keyframes home{
        0%{
            transform: rotateX(90deg) scaleZ(1) scale(1);
        }
        33%{
            transform: rotateX(90deg) scaleZ(.9) scale(.9);
        }
        66%{
            transform: rotateX(0deg) scaleZ(1) scale(.9);
        }
        100%{
            transform: rotateX(0deg) scaleZ(1) scale(1);
        }
    }
    @keyframes projects{
        0%{
            transform: rotateX(0deg) scaleZ(1) scaleX(1);
        }
        33%{
            transform: rotateX(0deg) scaleZ(.9) scale(.9);
        }
        66%{
            transform: rotateX(90deg) scaleZ(.9) scaleX(.9);
        }
        100%{
            transform: rotateX(90deg) scaleZ(1) scaleX(1);
        }
    }
    @keyframes about_me{
        0%{
            transform: rotateX(90deg) scaleZ(1) scaleX(1);
        }
        33%{
            transform: rotateX(90deg) scaleZ(.9) scaleX(.9);
        }
        66%{
            transform: rotateX(180deg) scaleZ(.9) scale(.9);
        }
        100%{
            transform: rotateX(180deg) scaleZ(1) scaleX(1);
        }
    }
}