@use './colors.scss';

@mixin nav_responsive {
    @media (max-width: 1024px){
        .toggle{
            display: block;
        }
        .nav{
            right: -200vw;
            transition: all .5s;
            & > ul{
                box-sizing: border-box;
                display: block;
                width: 100%;
                right: 0;
                top: 0;
                height: 100vh;
                background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(164,164,164,1) 20%);
                backdrop-filter: blur(14px);
                opacity: .8;
                .li{
                    width: 100%;
                    height: 33%;
                    &:nth-child(1),&:nth-child(2){
                        border-bottom: 1px solid rgba(colors.$dark_color, .4);
                    }
                    & > a{
                        font-size: 15px;
                        color: rgba(colors.$dark_color, 0.4);
                        &::before{
                            display: none;
                        }
                        &::after{
                            display: none; 
                        }
                        &:hover{
                            color: rgba(colors.$dark_color, 0.5);
                        }
                        &:active{
                            color: rgba(colors.$dark_color, 0.5);
                        }
                    }
                }
            }
        }
        .activeNav{
            right: 0;
            transition: .5s;
        }
    }
}