@mixin center_flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center_absolute{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@mixin button{
  height: 3rem;
  width: 8rem;
  outline: none;
  border: none;
  color: #fff;
  background: #14151B;
  border-radius: .2rem;
  cursor: pointer;
  &:hover{
    opacity: .9;
  }
  &:active{
    opacity: .8;
  }
}
