@use './sass/responsive';

.App{
  position: absolute;
  background: linear-gradient(140deg, #20222b 0%, #14151b 33%, #08080b 66%, #000000 100%);
  background: #000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  perspective: 900rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .cube{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    .face{
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      padding: 1.5rem;
      width: 100%;
      height: 100%;
      background: linear-gradient(140deg, #20222b 0%, #14151b 33%, #08080b 66%, #000000 100%);
      &:nth-child(1){
        transform: rotateX(0deg) translateZ(50vh);
      }
      &:nth-child(2){
        transform: rotateX(180deg) translateZ(50vh);
      }
      &:nth-child(3){
        transform: rotateX(270deg) translateZ(50vh);
      }
    }
  }
}

@include responsive.app();