@use '../../../shared/sass/mixin.scss';
@use '../../../shared/sass/keyframes.scss';
@use '../../../shared/sass/colors.scss';
@use '../../../shared/sass/variables.scss';
@use '../../../shared/sass/media_query.scss';

.toggle{
    z-index: variables.$z_nav;
    position: absolute;
    height: 40px;
    width: 40px;
    cursor: pointer;
    @include mixin.center_flex();
    right: 10px;
    top: 30px;
    display: none;
    &::before{
        content: '';
        position: absolute;
        width: 28px;
        height: 2px;
        background: rgba(colors.$light_color, .8);
        transition: .2s;
        transform: translateY(-10px);
        box-shadow: 0 10px 0 rgba(colors.$light_color, .8);
    }
    &::after{
        content: '';
        position: absolute;
        width: 28px;
        height: 2px;
        background: rgba(colors.$light_color, .4);
        transition: .2s;
        transform: translateY(10px);
    }
}
.active{
    &::before{
        transform: translateY(0px) rotate(45deg);
        background: rgba(colors.$dark_color, 0.4);
        box-shadow: 0 0 0 rgba(colors.$dark_color, 0.4);
    }
    &::after{
        transform: translateY(0px) rotate(-45deg);
        background: rgba(colors.$dark_color, 0.4);
    }
}

.social-media-wrapper{
    z-index: variables.$z_first;
    height: 100vh;
    width: 1vw;
    @include mixin.center_absolute();
    right: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    .social-media{
        position: absolute;
        height: 80%;
        bottom: 0;
        & > a{
            color:  rgba(colors.$light_color, .4);
            font-size: 1vw;
            &:hover{
                color:  rgba(colors.$light_color, .2);
            }
            &:active{
                color:  rgba(colors.$light_color, .4);
            }
            & > i{
                margin: 8px 0;
            }
        }
    }
}

.nav{
    z-index: variables.$z_first;
    position: absolute;
    width: 100%;
    height: 70px;
    top: 0;
    right: 0;
    & > ul{
        padding: 0;
        position: absolute;
        display: flex;
        right: 2.5vw;
        height: 100%;
        .li{
            position: relative;
            list-style: none;
            width: 9.151vw;
            height: 50px;
            @include mixin.center_flex();
            & > a{
                font-size: 1.15vw;
                cursor: pointer;
                color: rgba(colors.$light_color, .4);
                &::before{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    content: '';
                    width: 0;
                    height: 1px;
                    background: rgba(colors.$light_color, .4);
                    transform-origin: right;
                }
                &::after{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    content: '';
                    width: 0;
                    height: 1px;
                    background: rgba(colors.$light_color, .4);
                    transform-origin: right;
                    transition: all .1s; 
                }
                &:hover{
                    color: rgba(255, 255, 255, 0.8);
                    &::before{
                        width: 9.151vw  ;
                        transition: all .3s;
                    }
                    &::after{
                        width: 9.151vw;
                        transition-delay: .3s;
                    }
                }
            }
        }
    }
}

.activeNav{
    right: 0;
    transition: .5s;
}
.arrow-section{
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 7vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all .5s;
    & > i{
        cursor: pointer;
        color: rgba(colors.$light_color, .4);
        font-size: 3vw;
        animation: move_arrows 1s linear infinite;
        &:hover{
            color: rgba(colors.$light_color, .2);
        }
        &:active{
            color: rgba(255, 255, 255, 0.8);
        }
    }
}
.active-arrow{
    transform: rotateX(180deg);
    transition-delay: 1.5s;
    transition-duration: 1s;
}

@include media_query.nav_responsive();

@include keyframes.move_arrows();