@import '../../../sass/animations';

.next-button-wrapper {
  z-index: 100;
  .fa-chevron-double-down {
    color: var(--link);
    font-size: 2.5rem;
    animation: next-button-movement 1s linear infinite;
    cursor: pointer;
    &:hover{
      color: var(--link-hover);
    }
  }
}