@use '../../sass/responsive';

.profile-wrapper {
  position: absolute;
  width: 50%;
  height: 100%;
  padding: 8rem 5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  .title{
    color: #fff;
    font-size: 2rem;
  }
  .description {
    text-align: justify;
    color: #fff;
    font-size: 1.2rem;
  }
  .downolad-cv {
    height: 2.5rem;
    width: 7rem;
    font-size: .9rem;
    outline: none;
    border: none;
    color: #fff;
    background: #14151B;
    border-radius: .2rem;
    cursor: pointer;
    &:hover {
      opacity: .9;
    }
    &:active {
      opacity: .8;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    filter: invert(100%);
    overflow: hidden;
    font-size: 0.8rem;
    text-decoration: none;
  }
}

@include responsive.profile();