@keyframes next-button-movement {
  0%, 100%{
    transform: translateY(0rem);
  }
  50%{
    transform: translateY(-1rem);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}