@mixin app {
  @media (min-width: 2048px) {
    .App{
      perspective: 450vw;
      .cube{
        width: 85%;
        height: 85%;
      }
    }
  }
}

@mixin nav {
  @media (max-width: 1024px) {
    .nav-container{
      .toggle-wrapper{
        float: right;
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .toggle, .toggle::after, .toggle::before{
          z-index: 200;
          content: '';
          position: absolute;
          width: 2rem;
          height: .1rem;
          background: var(--link);
          transition: .1s;
        }
        .toggle{
          top: 1rem;
        }
        .toggle::before{
          top: .5rem;
        }
        .toggle::after{
          top: 1rem;
        }
        .active{
          top: unset;
          transform: rotate(-45deg);
          transition: .2s;
          &::before{
            top: 0;
            transform: rotate(90deg);
          }
          &::after{
            all: unset;
          }
        }
      }
      .bg{
        background: linear-gradient(300deg, rgba(160, 160, 160, .1), rgba(255, 255, 255, .1));
        backdrop-filter: blur(5rem);
      }
      .nav{
        z-index: 100;
        position: absolute;
        top: 5.1rem;
        right: 1rem;
        width: 90%;
        height: 45%;
        flex-direction: column;
        transition: .6s;
        background: linear-gradient(300deg, rgba(160, 160, 160, .1), rgba(255, 255, 255, .1));
        backdrop-filter: blur(5rem);
        transform-origin: top right;
        li{
          height: 100%;
          width: 100%;
          border-bottom: .1rem solid var(--link);
          &:nth-child(3){
            border-bottom: unset;
          }
          &::after, &::before{
            all: unset;
          }
        }
      }
      .hide{
        transform: scale(0);
        transition: .6s;
      }
    }
  }
}

@mixin home {
  @media (max-width: 1024px) {
    .home-container {
      .wrapper {
        .view-container {
          .text-wrapper {
            .name{
              font-size: 2.5rem;
            }
            .subtitle{
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

@mixin about-me {
  @media (max-width: 720px) {
    .about-me-container {
      .wrapper {
        .view-container {
          flex-direction: column;
        }
      }
    }
  }
}

@mixin technologies {
  @media (max-width: 1024px) {
    .technologies-container {
      width: 100%;
      height: 50%;
      bottom: 0;
      .wrapper {
        width: 25rem;
        height: 25rem;
      }
    }
  }
  @media (max-width: 1024px) and (orientation: landscape) {
    .technologies-container {
      width: 50%;
      height: 100%;
      right: 0;
      .wrapper {
        width: 25rem;
        height: 25rem;
      }
    }
  }
}

@mixin profile {
  @media (max-width: 1024px) {
    .profile-wrapper {
      width: 100%;
      height: 50%;
      top: 0;
      padding: 0 1rem;
    }
  }
  @media (max-width: 1024px) and (orientation: landscape) {
    .profile-wrapper {
      width: 50%;
      height: 100%;
      left: 0;
    }
  }
}