/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}