@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Roboto:wght@100;300;400;500;700&display=swap');
@import './app/sass/colors';

:root {
  font-size: 1vw;
  @media (max-width: 1024px) {
    font-size: 1.8vh;
  }
  @media (max-width: 720px) {
    font-size: 1.8vh;
  }
  @media (max-width: 1024px) and (orientation: landscape) {
    font-size: 1vw;
  }
}

* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

@media not all and (min-resolution: .001dpcm) {
  @supports (-webkit-appearance:none) and (stroke-color: transparent) {
    body {
      min-height: -webkit-fill-available;
    }
  }
}