@use '../../sass/responsive';

.card {
  position: relative;
  z-index: 10;
  background: var(--card-background);
  height: 25rem;
  width: 17rem;
  transform: skewY(-10deg);
  margin: 5rem;
  transition: 1s;
  &::after {
    z-index: -20;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 100%;
    transform: skewY(45deg) rotateY(180deg);
    transform-origin: left;
    transition: .5s;
    background: var(--card-dark-side);
  }
  &::before {
    content: '';
    position: absolute;
    top: -.98rem;
    left: 0;
    width: 100%;
    height: 1rem;
    background: var(--card-background);
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: .5s;
  }
  &:hover {
    transform: skewY(0deg);
    transition: 1s;
    &::after{
      top: -15px;
      height: calc(100% + 1rem);
      width: 0;
    }&::before{
      transform: skewY(0deg);
    }
  }
  .card-preview {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    & > img {
      height: 90%;
    }
  }
.card-title {
    height: 20%;
    width: 100%;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    & > h3 {
      font-weight: 300;
      font-size: 1.5rem;
      text-transform: uppercase;
    }
  }
  .card-body {
    height: 30%;
    width: 100%;
    margin: 0 1rem;
    & > p {
      width: 90%;
      height: 100%;
      font-size: .9rem;
    }
  }
  .card-actions {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    & > a {
      height: 2.5rem;
      width: 7rem;
      font-size: .9rem;
      outline: none;
      border: none;
      color: #fff;
      background: #14151B;
      border-radius: .2rem;
      cursor: pointer;
      &:hover {
        opacity: .9;
      }
      &:active {
        opacity: .8;
      }
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      &:nth-child(2){
        width: fit-content;
        height: fit-content;
        background: transparent;
        font-size: 2rem;
        color: #14151B;
      }
    }
  }
}

@include responsive.cards();