<div class="contact-wrapper">
  <a class="contact" href="https://github.com/AleSandi22" target="_blank"><i class="fab fa-github"></i></a>
  <a class="contact" href="mailto:a.sandi.developer@gmail.com" target="_blank"><i class="far fa-envelope"></i></a>
  <a class="contact" href="https://www.facebook.com/alesandi22/" target="_blank"><i class="fab fa-facebook"></i></a>
  <a class="contact" href="https://www.linkedin.com/in/alejandrosandi/" target="_blank"><i class="fab fa-linkedin"></i></a>
</div>